In [1]:
import mysql.connector as db
import pandas as pd

from IPython.display import display

In [9]:
connection = db.connect(
                        host="localhost",
                        database="junior_data_analyst",
                        user="root",
                        password="MySQL"
                       )

query = "select * from `sample data`"

data = pd.read_sql(query, connection)

if connection.is_connected():
    connection.close()
    print("MySQL Close")

display(data)

MySQL Close

,id,kemendagri_kabupaten_nama,kemendagri_kabupaten_kode,date,hour,level,geometry,avg_speed_kmh
0,8230974,KOTA BANDUNG,32.73,2020-01-01,7,2,"{'type': 'MultiLineString', 'coordinates': [[[...",14.06750
1,8230965,KOTA BANDUNG,32.73,2020-01-01,6,2,"{'type': 'MultiLineString', 'coordinates': [[[...",8.55000
2,8230966,KOTA BANDUNG,32.73,2020-01-01,6,4,"{'type': 'MultiLineString', 'coordinates': [[[...",3.94875
3,8230967,KOTA BANDUNG,32.73,2020-01-01,6,2,"{'type': 'MultiLineString', 'coordinates': [[[...",20.20710
4,8230968,KOTA BANDUNG,32.73,2020-01-01,6,2,"{'type': 'MultiLineString', 'coordinates': [[[...",40.94400
...,...,...,...,...,...,...,...,...
145,8231145,KOTA BANDUNG,32.73,2020-01-01,9,2,"{'type': 'MultiLineString', 'coordinates': [[[...",17.02500
146,8231114,KOTA BANDUNG,32.73,2020-01-01,9,2,"{'type': 'LineString', 'coordinates': [[107.61...",13.04000
147,8231115,KOTA BANDUNG,32.73,2020-01-01,9,2,"{'type': 'MultiLineString', 'coordinates': [[[...",17.73760
148,8231116,KOTA BANDUNG,32.73,2020-01-01,9,3,"{'type': 'MultiLineString', 'coordinates': [[[...",12.53960
149,8231117,KOTA BANDUNG,32.73,2020-01-01,9,4,"{'type': 'MultiLineString', 'coordinates': [[[...",5.43000

In [17]:
connection = db.connect(
                        host="localhost",
                        database="junior_data_analyst",
                        user="root",
                        password="MySQL"
                       )

query = "select id, geometry lokasi, count(level) count_level_5 from `sample data` where level = 5 group by id"

data = pd.read_sql(query, connection)

if connection.is_connected():
    connection.close()
    print("MySQL Close")

display(data)

MySQL Close

         id                                             lokasi  count_level_5
0   8230983  {'type': 'MultiLineString', 'coordinates': [[[...              1
1   8230994  {'type': 'MultiLineString', 'coordinates': [[[...              1
2   8230995  {'type': 'MultiLineString', 'coordinates': [[[...              1
3   8230996  {'type': 'MultiLineString', 'coordinates': [[[...              1
4   8231018  {'type': 'MultiLineString', 'coordinates': [[[...              1
5   8231019  {'type': 'MultiLineString', 'coordinates': [[[...              1
6   8231029  {'type': 'MultiLineString', 'coordinates': [[[...              1
7   8231041  {'type': 'MultiLineString', 'coordinates': [[[...              1
8   8231042  {'type': 'MultiLineString', 'coordinates': [[[...              1
9   8231085  {'type': 'MultiLineString', 'coordinates': [[[...              1
10  8231087  {'type': 'MultiLineString', 'coordinates': [[[...              1

In [23]:
connection = db.connect(
                        host="localhost",
                        database="junior_data_analyst",
                        user="root",
                        password="MySQL"
                       )

query = "select id, level level_5 from `sample data` where level = 5 order by id  limit 5"

data = pd.read_sql(query, connection)

if connection.is_connected():
    connection.close()
    print("MySQL Close")

display(data)

MySQL Close

        id  level_5
0  8230983        5
1  8230994        5
2  8230995        5
3  8230996        5
4  8231018        5